%table.supplements
  %thead
    %tr
      %th= Supplement.human_attribute_name(:number)
      %th= Supplement.human_attribute_name(:authors)
      %th= Supplement.human_attribute_name(:title)
      %th= Supplement.human_attribute_name(:pages)
  %tfoot
    %tr
      %td.center{ colspan: 4 }= paginate @supplements, remote: true
  %tbody
    - @supplements.each do |supplement|
      %tr.clickable-row{ data: { url: supplement.pdf.url } }
        %td.center= supplement.number
        %td= supplement.author_names
        %td= supplement.title
        %td.nowrap.center= supplement.pages
