%table.articles
  %thead
    %tr
      %th= Article.human_attribute_name(:volume)
      %th= Article.human_attribute_name(:authors)
      %th= Article.human_attribute_name(:title)
      %th= Article.human_attribute_name(:pages)
  %tfoot
    %tr
      %td.center{ colspan: 4 }= paginate @articles, remote: true
  %tbody
    = content_tag_for(:tr, @articles) do |article|
      %td.center= article.volume.roman_numeral
      %td= article.author_names
      %td= article.title
      %td.nowrap.center= article.pages
