%table
  %thead
    %tr
      %th= t('volume')
      %th= t('year')
      %th= t('isbn')
  %tbody
    = content_tag_for(:tr, @volumes) do |volume|
      %td= volume.name
      %td{ class: :center }= volume.year
      %td= volume.isbn
