%table
  %thead
    %tr
      %th= t('volume')
      %th= t('year')
      %th= t('isbn')
  %tbody
    - @volumes.each do |volume|
      %tr.clickable-row{ data: { url: volume_path(volume) } }
        %td= volume.name
        %td{ class: :center }= volume.year
        %td= volume.isbn
     
